/* GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY */
.container {
    width: 80%;
    height: auto;
    margin: 1% auto;
    background-color: #EEE;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.content-box {
    width: 100%;
    height: 50px;
    background-color: green;
    border: 1px solid black;
}

/* HEADER */
.header-section {
    width: 100%;
    height: 10%;
    background-color: #e579e6;
}

/* MAIN */


/* FOOTER */